body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home {
    background: url('background_flow_leaves.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

#blog {
    background-color: #f0f0f0; /* Light grey background for the blog section */
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manage-buttons button {
    padding: 10px;
    margin-left: 10px;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.post {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

